{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{{ profile.user.username }} - {% trans "Profile" %}{% endblock %}
{% block content %}
<div class="container profile">
    <div class="row wrapper">
		<div class="col-md-4 col-xl-3">
			{% include "profile-sidebar.html" %}
		</div>
		<div class="col-md-8 col-xl-9">
			<div class="row right-panel">
                <form class="profile-form" action="{% url 'profile_edit' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="inputFirstName" class="col-sm-3 col-xl-2 col-form-label">First Name</label>
                        <div class="col-sm-9 col-xl-10">
                        <input type="text"name="first_name" class="form-control" id="inputFirstName" value="{{profile.user.first_name}}" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputLastName" class="col-sm-3 col-xl-2 col-form-label">Last Name</label>
                        <div class="col-sm-9 col-xl-10">
                        <input type="text" name="last_name" class="form-control" id="inputLastName" value="{{profile.user.last_name}}" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-3 col-xl-2 col-form-label">Email</label>
                        <div class="col-sm-9 col-xl-10">
                        <input type="email" name="email" class="form-control" id="inputEmail" value="{{profile.email | default_if_none:''}}" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-3 col-xl-2 col-form-label"></label>
                        <div class="col-sm-9 col-xl-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer-after %}
		<script src="{% static 'js/account.js' %}"></script>
{% endblock %}

