{% extends "base-clean-header.html" %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load i18n %}
{% load tags %}

{% block header %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row wrapper-signin">
		<div class="col-md-12 logo-wrapper">
            <a href="{% url 'home' %}">{% site_large_logo %}</a>
        </div>
		<div class="col-md-12">
			<form action="" method="post">
				{% csrf_token %}
				<fieldset>
					<h2>Sign In</h2>
					<hr class="colorgraph">
					{{ form.non_field_errors }}
					{% for field in form %}
						{% if not field.name == 'remember_me' %}
							<div class="form-group">
							{% render_field field placeholder=field.label class+="form-control input-lg" %}
							</div>
							{{ field.errors }}
						{% endif %}
					{% endfor %}
				</fieldset>
                <span class="col-md-12"><a href="#" class="forgot-password">Forgot Password?</a></span>
				<hr class="colorgraph">
				<div class="clearfix">
					{{ form.remember_me.errors }}
				</div>
				<span class="pull-left checkbox form-checkbox-container">
					<label for="id_remember_me">{{ form.remember_me }} {{ form.remember_me.label }}</label>
				</span>
				<input type="submit" value="Sign In" class="btn btn-lg btn-primary pull-right" />
			</form>
		</div>
		<div class="col-md-12">
			Don't have an account? <a href="{% url 'signup' %}">Create Account</a>
		</div>
	</div>
</div>
{% endblock %}
