{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load tags %}

{% block header %}
<link href="{% static 'css/courier.css' %}" rel="stylesheet">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Courier{% endblock %}
{% block footer %}<script src="{% static 'js/jquery.min.js' %}"></script> {% endblock %}
{% block footer-after %}<script src="{% static 'js/courier.js' %}"></script> {% endblock %}
{% block content %}
    coureir home page
{% endblock %}

