{% extends "user-home.html" %}
{% load static %}
{% load tags %}
{% load i18n %}

{% block header %}
<link href="{% static 'css/user.css' %}" rel="stylesheet">
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block footer-after %}
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/user.js' %}"></script>
{% endblock %}

{% block title %}Tracking{% endblock %}

{% block content %}
<div class="container">
    <div class="row table-responsive tracking-table-wrapper">
        <table id="tracking-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Delivery ID</th>
                    <th>Package quantity</th>
                    <th>Delivery Status</th>
                    <th>Request Date</th>
                    <th>Report</th>
                </tr>
            </thead>
            <tbody>
            {% for delivery in deliveries %}
                <tr>
                    <td>{{ delivery.id }}</td>
                    <td>{{ delivery.package_set.count }}</td>
                    <td>{{ delivery.get_status_display }}</td>
                    <td>{{ delivery.request_time_created }}</td>
                    <td><a href="{% url 'delivery_report' delivery.id %}">Report</a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}

