{% extends "user-home.html" %}
{% load static %}
{% load tags %}
{% load i18n %}

{% block header %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link href="{% static 'css/user.css' %}" rel="stylesheet">
{% endblock %}

{% block footer-after %}
<script type="text/javascript" src="{% static 'js/user.js' %}"></script>
{% endblock %}


{% block title %}Address Book{% endblock %}

{% block content %}
<!-- Modal: Confirm address deletion-->
<div class="modal fade" id="addressDeleteModal" tabindex="-1" role="dialog" aria-labelledby="addressDeleteModalTitle" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title address-form-title">Delete address</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
             <span>Do you want to delete address with title: <b id="address-to-delete-title"></b>?</span>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id="do-delete-address" type="button" class="btn btn-danger" data-dismiss="modal" value="">Delete</button>
         </div>
      </div>
   </div>
</div>
<!-- Modal: Add new address  -->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="carryBackModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title address-form-title">Add new address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body address-form">
                <input type="hidden" name="csrf-token" value="">
                <div class="row form-group">
                    <label class="col-md-4 control-label" for="address-title">Title<span class="star">*</span></label>
                    <div class="col-md-8">
                        <input id="address-title" name="fax" type="text" placeholder="Title, Name or Description" class="form-control input-md">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 control-label" for="address-country">Country<span class="star">*</span></label>
                    <div class="col-md-8">
                        <select  class="custom-select address_item col-md-6" id="address-country">
                            {% if countries.count > 1 %}
                            <option selected value="0">Select country ...</option>
                            {% endif %}
                            {% for country in countries %}
                            <option value="{{ country.id }}">{{ country.name | title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 control-label" for="address-province">Province<span class="star">*</span></label>
                    <div class="col-md-8">
                        <select class="custom-select address_item col-md-6" id="address-province">
                            {% if provinces.count > 1 or provinces == ""%}
                            <option selected value="0">Select province ...</option>
                            {% endif %}
                            {% for province in provinces %}
                            <option value="{{ province.id }}">{{ province.name | title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 control-label" for="address-city">City/Town<span class="star">*</span></label>
                    <div class="col-md-8">
                        <select class="custom-select address_item col-md-6" id="address-city">
                            {% if cities.count > 1 or cities == "" %}
                            <option selected value="0">Select city ...</option>
                            {% endif %}
                            {% for city in cities %}
                            <option value="{{ city.id }}">{{ city.name | title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 control-label" for="address-address1">Address Line1<span class="star">*</span></label>
                    <div class="col-md-8">
                        <textarea id="address-address1" name="address1" type="text" placeholder="Street address, P.O. box, company name, c/o" class="form-control input-md"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 control-label" for="address-address2">Address Line2</label>
                    <div class="col-md-8">
                        <textarea id="address-address2" name="address2" type="text" placeholder="Apartment, suite , unit, building, floor, etc." class="form-control input-md"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 control-label" for="address-zip">{{zone_division_name}}<span class="star">*</span></label>
                    <div class="col-md-8">
                        <input id="address-zip" name="zip" type="text" placeholder="{{zone_division_name}}" class="form-control input-md" >
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 control-label" for="address-phone">Phone</label>
                    <div class="col-md-8">
                        <input id="address-phone" name="phone" type="text" placeholder="Preferably Cell Phone" class="form-control input-md">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 control-label" for="address-fax">Fax</label>
                    <div class="col-md-8">
                        <input id="address-fax" name="fax" type="text" placeholder="fax Number" class="form-control input-md">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 control-label" for="address-email">E-Mail</label>
                    <div class="col-md-8">
                        <input id="address-email" name="fax" type="email" placeholder="E-Mail" class="form-control input-md">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="do-add-update-address" class="btn btn-primary btn-do" value="">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal End -->
<div class="container">
    <div class="row">
        <ul class="col-md-12 address">
            <h2 class="address-title">address book</h2>
        {% for address in addresses %}
            <li id="address-row-{{address.id}}" class="row">
                <span class="col-md-6"><b>Title:</b>&nbsp;<span id="title{{ address.id }}">{{ address.title | capfirst}}</span></span>
                <span class="col-md-6"><b>ID:</b>&nbsp;<span>{{ address.id }}</span></span>
                <span class="col-md-12">
                    <span class="address-book-title">Address:&nbsp;</span>&nbsp;{% if address.address2 %}{{ address.address2}},&nbsp;{% endif %}
                    {{ address.address1 }},&nbsp;{{ address.city | title }},&nbsp;{{ address.get_province.name | title }},&nbsp;{{ address.get_country.name | title }}
                </span>
                <span class="col-md-3">
                    <span class="address-book-title">{{ zone_division_name }}:&nbsp;</span>{{ address.zip }}
                </span>
                {% if address.phone %}
                <span class="col-md-3">
                    <span class="address-book-title">Phone:&nbsp;</span>{{ address.phone }}
                </span>
                {% endif %}
                {% if address.fax %}
                <span class="col-md-3">
                    <span class="address-book-title">Fax:&nbsp;</span>{{ address.fax }}
                </span>
                {% endif %}
                {% if address.email %}
                <span class="col-md-3">
                    <span class="address-book-title">Email:&nbsp;</span>{{ address.email }}
                </span>
                {% endif %}
                <span class="col-md-12">
                    <span class="col-md-1"><a href="#"  class="edit-address" data-toggle="1modal" data-addressid ="{{ address.id }}" data-target="#addressModal">Edit</a></span>
                    <span class="col-md-2"><a href="#" class="confirm-delete"data-addressid="{{ address.id }}">Delete</a></span>
                </span>
            </li>
        {% endfor %}
            <button id="open-address-modal" class="btn btn-success" data-toggle="modal" data-target="#addressModal">+ Add New Address</button>
        </ul>
    </div>
</div>
{% endblock%}

