{% extends "visitor-home.html" %}
{% load static %}
{% load tags %}
{% load i18n %}

{% block header %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <div class="row about-us">
        <div class="col-md-6 center">
            <h1>about us</h1>
            <p>
                GTA Quick Courier started in 1981.  It originally served all of the GTAA.
            </p>
            <p>
                Growing at a steady pace, GTA Quick Courier acquired the contract to deliver to all of southern Ontario
                and Quebec branches of Central Guaranty Trust.  GTA Quick Courier was its exclusive courier for over
                ten years
            </p>
            <p>
                After the closure of Central Guaranty Trust in 1992, many of its large subsidiaries such as Wells Fargo,
                CGU (Canadian Insurance) and Aviva Canada remained with us. GTA Quick Courier also went on to offer
                a wide range of services such as storage, moving, distribution and mailroom services.
            </p>
            <p>
                We are also associated with major couriers to ship all over Canada, United States and International.
                The large volume of business allow our clients substantial savings
            </p>
            <p>
                GTA Quick Courier is constantly expanding in order to accommodate and to meet the multiple
                needs of ever-changing business world.
            </p>
            <ul>
                <li>Our Reliable and Steady Drivers are Professional, Courteous and very Knowledgeable.</li>
                <li>We provide scheduled Post Office Drop Offs/Pick Ups, Bank Deposits and Inter-Office Mail Runs.</li>
                <li>Gta Quick Courier has proudly maintained and served the same clients for over 35 years.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}